# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock
# iOS related
ios/Pods/
ios/Runner.xcworkspace/
# Android related
android/.gradle/
android/app/build/
# IntelliJ related
.idea/
*.iml
# VS Code related
.vscode/
# Other
*.log
*.DS_Store
*.apk
*.app
*.ipa
*.jar
*.keystore
*.jks
